# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
db.sqlite3
.env
.env.local
*.log

# =========================
# Django
# =========================
staticfiles/
media/
*.pot
*.pyc

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db