# =========================
# Arquivos do Maven / Java
# =========================
target/
*.jar
*.war
*.ear
*.class

# =========================
# Configurações de IDEs (VS Code, IntelliJ, Eclipse)
# =========================
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans

# =========================
# Logs e Arquivos Temporários
# =========================
*.log
hs_err_pid*

# =========================
# Arquivos de Sistema Operacional
# =========================
.DS_Store
Thumbs.db